

.icon-large {
    font-size: 36px; /* Adjust the size as needed */
}




.container {
  overflow: hidden;
  .slider {
    animation: slidein 20s linear infinite;
    white-space: nowrap;
    .logos {
      width: 100%;
      display: inline-block;
      margin: 0px 0;
      .fab {
        width: calc(100% / 5);
        animation: fade-in 0.5s 
          cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-padding {
    padding-top: 100px; /* Adjust the top padding to match your navigation bar's height */
    /* You can also adjust padding for other sides as needed, e.g., padding-left, padding-right, padding-bottom */
}







